header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: transparent;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}

header span {
  border: 1px solid black;
  height: 30px;
  line-height: 25px;
  padding: 0 10px;
}

#hero {
  height: 100vh;
  padding-top: 100px;
}

.hero-header {
  margin-bottom: 70px;
  margin-top: 30px;
  /* padding-left: 0; */
}

.hero-header p:first-child {
  font-size: 24px;
  padding-left: 5px;
}
.hero-header p:last-child {
  font-size: 18px;
  padding-left: 5px;
}
.sidebar {
  height: 100%;
}

.hero-header h2 {
  font-size: 70px;
  /* padding-left: 0; */
}

section,
.way {
  border: 1px solid blue;
}

.sky {
  border-radius: 5px;
  -webkit-box-shadow: 6px 0px 6px -6px black;
  -moz-box-shadow: 6px 0px 6px -6px black;
  box-shadow: 6px 0px 6px -6px black;
  /* position: relative; */
}

/* .two {
  height: 400px;
} */
.socials {
  padding-left: 5px;
}
.socials,
.work-tech {
  display: flex;
  /* display: inline-flex; */
}

.socials li,
li {
  list-style-type: none;
}

.socials li,
.work-tech li {
  margin-right: 15px;
}

.title {
  display: flex;
  /* line-height: ; */
}

.title::before {
  content: "";
  background: black;
  width: 70px;
  height: 1px;
  /* line-height: -5px; */
  margin: 7px 0px;
  display: block;
}

/* .tell {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 1px solid blue;
} */

.project-wrap {
  height: 20rem;
}

.project-wrap .description {
  height: 7rem;
}

.project-wrap .technology {
  margin-top: 5rem;
}

/*HERO*/

/* 
* 


.hero-container {
  display: flex;
}
.side {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  height: 100vh;
}
.hero-left {
   background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.1)),
    url(../images/city.jpg); 
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 100px 0 100px 0;
}
.hero-right {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.1)),
    url(../images/Aare.svg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-72.66%, -50%);
  height: 100%;
}
.centered a {
  margin-left: 9px;
}
.job-title {
  font-size: 2vw;
  line-height: 2vw;
  margin-left: 9px;
}

.hero-paragraph {
  margin-left: 9px;
  margin-bottom: 70px;
  max-width: 25vw;
  line-height: 22px;
  border: 1px solid red;
}

.hero-name {
  font-size: 8vw;
  line-height: 8vw;
}
.hero-wrap {
  padding: 85px 0 50px 0;
}
.about-page-content section {
  padding: 120px;
}

.story-paragraph {
  column-count: 2;
} */

/* section {
  border: 1px solid blue;
  min-height: 100vh;
  padding: 50px 0;
}
header {
  padding: 15px 40px;
}
li {
  list-style-type: none;
  padding-left: 0;
}
.project-wrap {
  height: 20rem;
}
.project-wrap .description {
  height: 7rem;
}
.project-wrap .technology {
  margin-top: 5rem;
}

.dart {
  position: relative;
  width: 300px;
  height: 400px;
}
.dart .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dart .face .face1 {
  top: 0;
  left: 0;
  transition-property: left, z-index, transform;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  z-index: 2;
  transform: translate(-10px, -10px);
}
.dart:hover .face.face1 {
  transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  transform: translate(-170px, -10px);
  z-index: 1;
  left: -160px;
}
.dart .face .face1 .one {
  max-width: 100%;
}
.dart .face .face {
   transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  background: #111;
}
.dart .face .face .content {
  padding: 20px;
  box-sizing: border-box;
} */
